<!DOCTYPE html>
<html lang="en">
  <head>    
    <title>Task Preview</title>    
    <link rel="stylesheet" href="https://crowdflower.com/stylesheets/bundles/channels_master.css?v=ebe1">
  </head>
  <body class="channel preview-action amt" style="padding:0px;margin:10px;">

<header style="width:640px;margin:0px;padding:10px;">
<section id="masthead">
  <hgroup class="clearfix">
<!--    <h1 class="job_title">Music Recommendation </h1>-->    
    <h2 class="instructions_title">Instructions</h2>
    <div class="clear"></div>
  </hgroup>
  
  <section class="instructions " style="padding:0px;">
    <p style="margin:0px;">Imagine you could use a service where you provide a clip of music as a query and the service then recommends five songs similar to it.<br /> In this task we give you an arbitrary query and the songs recommended by two different services. You have to listen to the songs and tell us what service provided better results.</p>
  </section>
</section>
</header>
    
<section id="content" class="clearfix" style="width:660px;margin:0px;padding-top:10px;">
<form action="#" method="post" id="job_units" class="mobmerge" autocomplete="off">
  <div class="units" style="padding:0px;">
    
<div class="cml jsawesome" id="" style="margin:0px;padding:10px;"><style>
<!--
body{
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
}
-->
</style>
<center>
<table style="width:500px;margin:0px;">
<tbody><tr>
  <td colspan="2"><center>
    <strong>Query</strong>
  </center></td>
</tr>
<tr>
  <td colspan="2"><center>
    <object type="application/x-shockwave-flash" data="./player.swf" width="200" height="20">
      <param name="movie" value="./player.swf" />
      <param name="FlashVars" value="mp3=./d005834.mp3&amp;showvolume=1&amp;autoload=1&amp;showstop=1&amp;volume=150" />
    </object>
  </center></td>
</tr>
<tr>
  <td><center>
    <strong>Service A</strong>
  </center></td>
  <td><center>
    <strong>Service B</strong>
  </center></td>
</tr>
<tr>
  <td><center>
    <object class="playerpreview" type="application/x-shockwave-flash" data="./player_mp3_multi.swf" width="220" height="110px" style="margin:0px;">
      <param name="movie" value="./player_mp3_multi.swf" />
      <param name="FlashVars" value="mp3=./d000386.mp3|./d007374.mp3|./d010399.mp3|./d008716.mp3|./d001423.mp3&amp;title=Result 1|Result 2|Result 3|Result 4|Result 5&amp;buttonwidth=20&amp;width=220;&amp;showvolume=1&amp;autoload=1&amp;showstop=1&amp;volume=150&amp;showplaylistnumbers=0" />
    </object>
  </center></td>
  <td><center>
    <object class="playerpreview" type="application/x-shockwave-flash" data="./player_mp3_multi.swf" width="220" height="110px" style="margin:0px;">
      <param name="movie" value="./player_mp3_multi.swf" />
      <param name="FlashVars" value="mp3=./d008716.mp3|./d012238.mp3|./d001423.mp3|./d010399.mp3|./d007374.mp3&amp;title=Result 1|Result 2|Result 3|Result 4|Result 5&amp;buttonwidth=20&amp;width=220;&amp;showvolume=1&amp;autoload=1&amp;showstop=1&amp;volume=150&amp;showplaylistnumbers=0" />
    </object>
  </center></td>
</tr>
</tbody></table>
</center>
<div class="radios cml_field" style="margin-bottom:10px;"><h2 class="legend">What service gives better results?</h2>
  
    <div class="cml_row"><label class=""><input name="" type="radio" value="Service A" class="what_service_gives_better_results validates-required" />
 Service A</label></div>
    <div class="cml_row"><label class=""><input name="" type="radio" value="Service B" class="what_service_gives_better_results validates-required" />
 Service B</label></div>
    <div class="cml_row"><label class=""><input name="" type="radio" value="They are both equally good" class="what_service_gives_better_results validates-required" />
 They are both equally good</label></div><div class="cml_row"><label class=""><input name="" type="radio" value="They are both equally bad" class="what_service_gives_better_results validates-required" />
 They are both equally bad</label></div>
  
<p class="instructions"></p>
</div>
  <div class="textarea cml_field unmodified" style="margin:0px;"><label class="legend">Any comments?</label>
<div class="cml_row"><textarea name="" class="any_comments unmodified" style="height:50px;padding-bottom:0px;"></textarea></div>

</div>
</div>
</div>
  <button class="submit" id="check" style="margin-top:10px;">Submit</button>
</form>

</section>
  </body>
</html>
